.game-but{
    font-size: 20px;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
}
.music-but{
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
}

.is-toggled{
    background-color: black;
    color: whitesmoke;
    cursor: pointer;
}

